* {
	margin: 0px;
	padding: 0px;
}

#foot {
	width: 1300px;
	height: 580px;
	margin: 0 auto;
	background-color: #333333;

}

#foot #footer {

	width: 1300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	top: 50px;

}

#foot #one {
    line-height:48px;
	width: 1300px;
	height: 200px;
	background-color: #333333;
	font-size: 13px;
	color: #ffffff;


}