<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="../static/login.css">
    <title>登录</title>
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>  
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<script type="text/javascript">
	function randoms()
	{
		document.getElementById("id").value = "";
		document.getElementById("password").value = "";	
	}
	
	// 字符的验证
	jQuery.validator.addMethod("chrnum", function(value, element) {
		var chrnum = /^([a-zA-Z0-9_.]+)$/;
		return this.optional(element) || (chrnum.test(value));
	}, "只能输入字符A-Z, a-z, 0-9和_.");

	$().ready(function() {
	$("#loginform").validate({
	    rules: {
	      id: "required",
	      password: {
	        required: true,
			minlength:8,
			maxlength:8,
	        chrnum: true
	      }
	    },
	    messages: {
	      id: "请输入您的用户名",
	      password: {
	        required: "请输入密码",
			minlength: "请输入8位密码",
			maxlength:"请输入8位密码"
	      }
	    }
		});
	});
	
</script>

<style>
.error{
	color:red;
}
</style>
</head>
 
<body>
    <div id="section">
        <!-- 背景颜色 -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle" style="--x:0"></div>
            <div class="circle" style="--x:1"></div>
            <div class="circle" style="--x:2"></div>
            <div class="circle" style="--x:3"></div>
            <div class="circle" style="--x:4"></div>
			<div class="circle" style="--x:5"></div>
			<div class="circle" style="--x:6"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
                    <h2>登录</h2>
                    <form id= "loginform" action="login.php" method="post">
                        <div class="inputBox">
                            <input type="text" placeholder="用户名" name="id" id="id">
 
                        </div>
                        <div class="inputBox">
                            <input type="password" placeholder="密码" name="password" id="password">
 
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="登录">
 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>
